.employsection {
  height: 600vh;
  width: 100vw;
  background: transparent linear-gradient(180deg, #000000 0%, #000e09 100%) 0%
    0% no-repeat padding-box;
  mix-blend-mode: normal;
  opacity: 1;
}

.apidatadiv {
  border: 1px solid black;
}

.icon {
  height: 50px;
  width: 50px;
  position: relative;
  left: 85vw;
  background: transparent no-repeat padding-box;
  mix-blend-mode: normal;
  opacity: 1;
}

.locodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  background: transparent no-repeat padding-box;
  mix-blend-mode: normal;
  opacity: 1;
}

.loco {
  height: 16vh;
  width: 8vw;
}

.number {
  color: #fff;
  position: relative;
  bottom: 2.5vh;
  height: 29px;
  width: 25px;
  border-radius: 48%;
  text-align: center;
  padding: 2px;
  font: normal normal normal 18px/25px Source Sans Pro;
  letter-spacing: 0.02px;
  color: #36a546;
  opacity: 1;
  background-color: #353333;
}

.eminput {
  height: 6vh;
  width: 25vw;
  position: relative;
  left: 38vw;
  padding-left: 6vw;
  margin-top: 5vh;
  border-radius: 20px;
  margin-bottom: 5vh;
  box-shadow: inset 0px 4px 0px #00000040;
  color: #ffffffb3;
  background-color: #000000;
}

.search {
  color: #160404;
  position: absolute;
  left: 71vw;
  top: 27.2vh;
}

.apidatamaimdiv {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  color: antiquewhite;
}
/* yjror */
.apidatadiv {
  height: 40vh;
  font-size: 4vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  color: rgb(211, 209, 205);
  background-color: #423e3e;
  padding-top: 5vh;
  padding-left: 4vw;
  align-content: center;
}

.extraone {
  display: none;
  position: absolute;
  left: 70vw;
  margin-bottom: 10px;
  border-radius: 50%;
  padding: 1vw;
  border: 1px solid black;
  height: 4vh;
  width: 7vw;
  font-size: 2.5vh;
  text-align: center;
}

.role-styling {
  color: red;
}

.role-st {
  color: green;
}

.fix {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #254f2c;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.home-icon {
  overflow: hidden;
  height: 40px;
  width: 90px;
}

.contact-icon {
  overflow: hidden;
  height: 39px;
  width: 80px;
}

.apidatanone {
  display: none;
}

.apinone {
  display: none;
}

.apifiltercss {
  position: absolute;
  left: 37vw;
  top: 55vh;
}

.apidatadivcss {
  margin: 10px;
}

/*  media querry starts here */
@media screen and (max-width: 600px) {
  .employsection {
    overflow: hidden;
    height: 600vh;
    width: 100vw;
  }

  .loco {
    height: 9vh;
    width: 18vw;
  }

  .eminput {
    height: 6vh;
    width: 65vw;
    position: relative;
    left: 17vw;
    padding-left: 17vw;
    margin-top: 5vh;
    border-radius: 20px;
    margin-bottom: 5vh;
    color: #eee8e8;
    font-family: sans-serif;
  }

  .apidatadiv {
    height: 25vh;
    font-size: 2vh;
    width: 63vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 4vh;
    padding-left: vw;
    border-radius: 20px;
    mix-blend-mode: normal;
    opacity: 1;
    color: rgb(211, 209, 205);
    background-color: #423e3e;
  }
  .search {
    position: absolute;
    top: 26vh;
    color: rgb(0, 0, 0);
  }

  .extraone {
    display: block;
  }

  .apifiltercss {
    position: absolute;
    top: 35vh;
    left: 17vw;
  }

  .extraonecss {
    position: absolute;
    left: 55vw;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 1vw;
    border: 1px solid black;
    height: 4vh;
    width: 7vw;
    font-size: 2.5vh;
    text-align: center;
  }
}
