.regsection {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100vw;
     height: 100vh;
     gap: 4vh;
     background: transparent linear-gradient(180deg, #000000 0%, #000e09 100%);
     color: aliceblue;
   }
   
   
   /* .logo {
     background: transparent 0% 0% no-repeat padding-box;
     mix-blend-mode: normal;
     opacity: 1;
   } */
   .form {
     display: flex;
     flex-direction: column;
     gap : 2.5vh;
     
     
   }
   
   .input01 {
     mix-blend-mode: normal;
     opacity: 1;
     border: none;
     border-radius: 20px;
     /* margin-top: 15vh; */
     background: #1f191966 0% 0% no-repeat padding-box;
     box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #4a494947;
   }
   
   .input02 {
     mix-blend-mode: normal;
     border: none;
     opacity: 1;
     border-radius: 20px;
     background: #1f191966 0% 0% no-repeat padding-box;
     box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #4a494947;
   }
   .sighbtn {
     height: 8.5vh;
     border-radius: 20px;
     width: 25vw;
     background: transparent
       linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0% 0%
       no-repeat padding-box;
     mix-blend-mode: normal;
     border: 2px solid #8cff0026;
     opacity: 1;
     text-align: center;
     font: normal normal bold 16px/21px Mulish;
     letter-spacing: 0.02px;
     color: #ffffff8c;
     opacity: 1;
   }
   
   .logbtn {
     height: 8.5vh;
     width: 25vw;
     border-radius: 20px;
     background: transparent
       linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0% 0%
       no-repeat padding-box;
     mix-blend-mode: normal;
     border: 2px solid #8cff0026;
     opacity: 1;
     text-align: center;
     font: normal normal bold 16px/21px Mulish;
     letter-spacing: 0.02px;
     color: #ffffff8c;
     opacity: 1;
   }


     .input01 {
    width: 65vw;
    height: 4vh;
    padding-left: 5vw;
  }
  .input02 {
    padding-left: 5vw;
    width: 65vw;
    height: 4vh;
    margin: 1.3vh;
  }

  .loginbtn {
    width: 65vw;
    height: 5vh;
  }

  .registerbtn {
    width: 65vw;
    height: 5vh;
  }

  @media screen and (max-width: 600px) {
     
  .input01 {
     width: 65vw;
     height: 4vh;
     padding-left: 5.5vw;
   }
   .input02 {
     padding-left: 5vw;
     width: 65vw;
     height: 4vh;
     margin: 1.3vh;
   }
 
    .sighbtn  {
     width: 65vw;
     height: 5vh;
     margin-left: 2vw;
   }
 
   .logbtn {
     width: 65vw;
     height: 5vh;
     margin-left: 2vw;
   }
   .password {
     font-size: 6vw;
   }
   .reginput01{
     margin-left: 2vw;
   }
  }