.regsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 4vh;
  background: transparent linear-gradient(180deg, #000000 0%, #000e09 100%);
  color: aliceblue;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 4vh;
  gap: 4vh;
  overflow: hidden;
}

.reginput {
  mix-blend-mode: normal;
  padding-left: 2vw;
  opacity: 1;
  border: none;
  border-radius: 20px;
  height: 6vh;
  /* margin-top: 15vh; */
  background: #1f191966 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #4a494947;
}

.sighbtn {
  height: 8.5vh;
  border-radius: 20px;

  background: transparent
    linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0% 0%
    no-repeat padding-box;
  mix-blend-mode: normal;
  border: 2px solid #8cff0026;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/21px Mulish;
  letter-spacing: 0.02px;
  color: #ffffff8c;
  opacity: 1;
}

.logbtn {
  height: 8.5vh;

  border-radius: 20px;
  background: transparent
    linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0% 0%
    no-repeat padding-box;
  mix-blend-mode: normal;
  border: 2px solid #8cff0026;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/21px Mulish;
  letter-spacing: 0.02px;
  color: #ffffff8c;
  opacity: 1;
}

.registerbtn {
  height: 5vh;
}

@media screen and (max-width: 600px) {
  .sighbtn {
    width: 65vw;
    height: 5vh;
  }

  .logbtn {
    width: 65vw;
    height: 5vh;
  }

  .reginput {
    height: 5vh;
    width: 65vw;
  }
}
